html, body {
	height: 100%;
}

.input-card {
	height: 80%;
	width: 100%;
	margin: auto;
}

.tab-wrapper {
	width: 100%;
	height: 100%;
}

.input-wrapper {
	height: 100%;
	width: 50%;
	margin: auto;
	text-align: center;
}
.mdl-layout__tab-panel {
	height: 100%;
}

.mdl-layout__content {
	height: 100%;
}

#top-filler {
	width: 100%;
	height: 25%;
}

.mdl-card {
	margin: auto;
}