<!doctype html>
<head>
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/final-estimate.css') }}">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
  <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
  <title>TEST</title>
</head>
<body>
  <div id="wrapper">
    <div id="nav-header">{{ value }}</div>
    
  </div>
</body>
</html>